/* font style*/
#dates, #location, #address, #priceSubtitle, #price, #price, #planName, .buyButton, li {
    font-family: 'Prompt', sans-serif;
}


/* Styling for the Festival Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#infoBg {
  background-image: url(../assets/FesInfoBg.png);
  background-color: #333;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#festivalInfo {
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: auto;
  gap: 15%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#festivalDetails {
  width: 30%;
  padding-left: 3%;
}

#fesName {
  font-size: 10rem;
  color: #fff;
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
}

#dateLocationContainer {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dates,
#location {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

#address {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 0;
}

/* Styling for the Featured Anime Image */
#section1ImageBG {
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#featuredAnime {
    position: relative; /* Set the container to a relative position */
    width: 50%; /* Adjust the width as needed */
  }  

#section1Image {
    position: absolute; /* Set the image to an absolute position within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the image properly */
    z-index: 1; /* Place the image on top of the background */
    height: auto;
    width: auto;
  }
  

#featuredAnime {
    position: relative; /* Set the container to a relative position */
    width: 50%; /* Adjust the width as needed */
  }  

#section1Image {
    position: absolute; /* Set the image to an absolute position within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the image properly */
    z-index: 1; /* Place the image on top of the background */
    height: auto;
    width: auto;
  }
  

@media (max-width: 1800px) {
  #festivalInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: auto;
    flex-direction: column;
  }

  #festivalDetails {
    width: 100%;
    padding-left: 0%;
  }

  #featuredAnime {
    order: 2;
    width: 100%;
    padding: auto;
  }

  #fesName {
    font-size: 4.5rem;
    color: #fff;
    margin: 0;
    padding-left: 0;
    text-align: center;
  }

  #dateLocationContainer {
    width: 60%;
    margin-left: 0%;
  }

  #dates,
  #location {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 0;
  }

  #address {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin: 0;
  }
}

/* Styling for the Tickets and Pricing Section */
#tickets-pricing {
  text-align: center;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#priceTitle {
  font-size: 4rem;
  color: #005a8d;
}

#priceSubtitle {
  font-size: 2rem;
  color: #333;
  padding-bottom: 100px;
}

.pricingOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.pricingOption {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 500px;
}

@media (max-width: 1800px) {
  .pricingOptions {
    gap: 5%;
  }

  .pricingOption {
    width: 100%;
  }
}

.pricingDetails {
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#planName {
  font-size: 1.5rem;
  color: #333;
}

.price {
  font-size: 1.25rem;
  color: #005a8d;
  margin: 10px 0;
}

.feature {
  padding: 10px;
  padding-bottom: 130px;
}

.features {
  padding: 10px;
}

.features li {
  font-size: 1rem;
  margin: 5px 0;
}

.buyButton {
  display: inline-block;
  background-color: #005a8d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 22.5%;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 40%;
}

.buyButton:hover {
  background-color: #004577;
}

/* Styling for the Map Section */
#locationTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 4rem;
  text-align: center;
  color: #f5f5f5;
}

#festival-map {
  background-color: #004577;
  padding-bottom: 80px;
}
