#purchaseForm {
    background-color: grey;
    width: 70%;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding-bottom: 5px;
}

#purchaseForm h2 {
    text-align: center;
    padding: 10px;
    border-bottom: 2.5px solid black;
}

#purchaseForm input[type="number"] {
    background-color: lightgray;
    border-radius: 7px;
    width: 70%;
    margin-left: 2%;
}

#purchaseForm div {
    display: block;
    /* border: 1px solid black; */
    padding: 1em 2em
}

#errorMessage {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

#payNow {
    display: block;
    border: 4px outset darkgray;
    border-radius: 5px;
    background-color: lightgrey;
    margin: 10px auto;
    padding: 10px;
}

#payNow:active {
    background-color: darkgray;
    border: 4px inset lightgray;
}

#orderSummary table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10vh auto;
}

#orderSummary th {
    border: 1px solid black;
    padding: 10px;
    width: 30%;
}

#orderSummary td{
    border: 1px dashed black;
    padding: 10px;
    width: 30%;
}