* {
    margin: 0;
}

#purchaseForm {
    background-color: grey;
    width: 60%;
    margin: 10vh auto 3vh auto;
    border-radius: 1em;
    box-shadow: 0 0 10px orange;
    padding-bottom: 5px;
    font-family: 'Prompt', sans-serif;
}

#purchaseForm h2 {
    text-align: center;
    padding: 10px;
    border-bottom: 2.5px solid black;
}

#purchaseForm input[type="number"] {
    background-color: lightgray;
    border-radius: 7px;
    width: 70%;
    margin-left: 2%;
    padding: 5px;
}

#purchaseForm div {
    display: block;
    /* border: 1px solid black; */
    padding: 1em 2em
}

#errorMessage {
    color: red;
    /* margin-bottom: 3.8%; */
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Prompt', sans-serif;
}

#payNow {
    display: block;
    border: 4px outset darkgray;
    border-radius: 5px;
    background-color: lightgrey;
    margin: 10px auto;
    padding: 10px;
}

#payNow:active {
    background-color: darkgray;
    border: 4px inset lightgray;
}

#orderSummary table{
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto 5vh auto;
}

#orderSummary th,#orderSummary td {
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 30%;
}

#ticketType {
    display: flex;
    gap: 2vw;
}


