body{
    margin: 0%;
    background-color: black;
}

#nav{
    display: flex;
    background: rgba(0, 0, 0, 0.7);  
    backdrop-filter: blur(10px);
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
}

.navLink{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding-top: 22px;
    font-family: 'Rapier Zero Hollow', sans-serif;
}

#nav a:hover{
    color: orange;
}

main{
    display: flex;
}

.animeCard{
    display: inline-flex;
    background-color: orange;
    width: 1000px;
    height: 400px;
    margin: 5% auto;
    border-radius: 10px;
}

.animePic{
    width: 680px;       
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.test{
    font-family: 'Prompt', sans-serif;
}

.animeInfo{
    color: black;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.animeName{
    font-weight: 900;
    text-align: center;
    font-size: 25px;
}

.buyTicketBtn{
    background-color: orangered;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.animeInfo p{
    color: black;
}


/* HomePage image and text Css*/

/* #homepageImage{
    filter: brightness(70%); 
    height: 100vh;
    width: 100%;
}

#homeImageAndText{
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.homeText {
    color: orange;
    padding: 0px 15px;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.4);  
    backdrop-filter: blur(5px);
    font-size: 70px;
    font-weight: 100;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rapier Zero', sans-serif;
  }

  
.locationText {
    color: black;
    padding: 0px 15px;
    border-radius: 10px;
    background: rgb(255,165,0, 1);  
    backdrop-filter: blur(5px);
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 60%;
    font-family: 'Rapier Zero Hollow', sans-serif;
  } */

  
  /* homePage Image and Text End */